<a href="https://colab.research.google.com/github/data602sps/datasetspractice/blob/main/07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

I chose the `weather.csv` file that was included with the assignment. This seemed to have a good mix of data types, especially datetime, which is likely the most challenging data type to work with.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

In [101]:
import pandas as pd
import datetime

In [102]:
# Read in data
df = pd.read_csv('weather.csv')
df.head()

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0

In [103]:
# Show a summary of the dataset
df.describe(include='all')

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
count,8719.000000,8719,8719.0,8718.000000,8718.000000,8718.000000,8718.000000,8718.000000,8718.000000,8486.000000,8718.000000,8718.000000,8719.000000,7780.000000,8719.000000
unique,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,EWR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,8709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4360.000000,NaN,2013.0,6.506538,15.679628,11.515715,55.484942,41.794184,62.863333,193.194674,9.335732,10.743374,0.003035,1017.826465,9.224522
std,2517.102832,NaN,0.0,3.439961,8.768250,6.916846,18.345817,19.619776,19.572699,110.541333,12.328261,14.187117,0.022686,7.396722,2.094044
min,1.000000,NaN,2013.0,1.000000,1.000000,0.000000,10.940000,-9.040000,13.950000,0.000000,0.000000,0.000000,0.000000,983.900000,0.120000
25%,2180.500000,NaN,2013.0,4.000000,8.000000,6.000000,39.920000,26.060000,47.602500,110.000000,5.753900,6.621473,0.000000,1012.800000,10.000000
50%,4360.000000,NaN,2013.0,7.000000,16.000000,12.000000,55.940000,42.800000,62.330000,220.000000,9.206240,10.594357,0.000000,1017.500000,10.000000
75%,6539.500000,NaN,2013.0,9.000000,23.000000,18.000000,71.060000,57.920000,78.790000,280.000000,12.658580,14.567241,0.000000,1022.900000,10.000000
max,8719.000000,NaN,2013.0,12.000000,31.000000,23.000000,100.040000,75.920000,100.000000,360.000000,1048.360580,1206.432388,1.180000,1041.900000,10.000000

In [104]:
# Check for nulls
df.isna().sum()

Unnamed: 0      0
origin          0
year            0
month           1
day             1
hour            1
temp            1
dewp            1
humid           1
wind_dir      233
wind_speed      1
wind_gust       1
precip          0
pressure      939
visib           0
dtype: int64

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [105]:
# Data cleaning
print(df.columns)

# Drop duplicate index
if 'Unnamed: 0' in df.columns:
    df.drop('Unnamed: 0', axis=1, inplace=True)

Index(['Unnamed: 0', 'origin', 'year', 'month', 'day', 'hour', 'temp', 'dewp',
       'humid', 'wind_dir', 'wind_speed', 'wind_gust', 'precip', 'pressure',
       'visib'],
      dtype='object')

In [106]:
# drop NA columns in datetime columns
datetime_cols = ['year', 'month', 'day', 'hour']

df.dropna(subset=datetime_cols, inplace=True)

# Drop the few days with missing metrics

df.dropna(subset=['temp', 'wind_speed', 'wind_gust'], inplace=True)

df.isna().sum()

origin          0
year            0
month           0
day             0
hour            0
temp            0
dewp            0
humid           0
wind_dir      232
wind_speed      0
wind_gust       0
precip          0
pressure      938
visib           0
dtype: int64

In [ ]:
# Interpolate NAs for values with significant gaps

fill_cols = ['wind_dir','pressure']

for col in fill_cols:
    df[col].fillna(value=df[col].mean(), inplace=True) # We use mean as stddev is low

df.isna().sum()

/var/folders/7_/3jtyrt0n1w9_jssp00807w2h0000gn/T/ipykernel_88599/1340192392.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value=df[col].mean(), inplace=True)

origin        0
year          0
month         0
day           0
hour          0
temp          0
dewp          0
humid         0
wind_dir      0
wind_speed    0
wind_gust     0
precip        0
pressure      0
visib         0
dtype: int64

In [108]:
# Combine datetime columns

df['date'] = pd.to_datetime(
    dict(
        year=df['year'],
        month=df['month'],
        day=df['day'],
        hour=df['hour']
    )
)

# drop the old datetime columns
df.drop(['year', 'month', 'day', 'hour'], axis=1, inplace=True)

df.head()

,origin,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,date
0,EWR,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01 00:00:00
1,EWR,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01 01:00:00
2,EWR,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 02:00:00
3,EWR,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01 03:00:00
4,EWR,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01 04:00:00

In [109]:
# If our datetime column is unique we can use it as the index
df['date'].duplicated().sum()

df.set_index('date', inplace=True)

df.head()

,origin,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
date,,,,,,,,,,
2013-01-01 00:00:00,EWR,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
2013-01-01 01:00:00,EWR,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2013-01-01 02:00:00,EWR,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
2013-01-01 03:00:00,EWR,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
2013-01-01 04:00:00,EWR,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0

In [110]:
# What was the biggest out-of-nowhere gust of wind?

# Calculate ratio and sort
df['gust_wind_ratio'] = df['wind_gust'] / df['wind_speed']
df[['wind_gust', 'wind_speed', 'gust_wind_ratio']].sort_values('gust_wind_ratio', ascending=False)

# It's all the same???
df.gust_wind_ratio.value_counts()

# Apparently the authors using some constant value to calculate wind gusts

gust_wind_ratio
1.15078    5665
1.15078    2426
Name: count, dtype: int64

In [111]:
# What's the correlation between pressure and rainfall?

df[['precip', 'pressure']].corr()

            precip  pressure
precip    1.000000 -0.052414
pressure -0.052414  1.000000

In [112]:
# Save a long format version for better storage and visualization

long_df = pd.melt(df, id_vars=['origin'], var_name='metric', value_name='value', ignore_index=False)

long_df.head()

                    origin metric  value
date
2013-01-01 00:00:00    EWR   temp  37.04
2013-01-01 01:00:00    EWR   temp  37.04
2013-01-01 02:00:00    EWR   temp  37.94
2013-01-01 03:00:00    EWR   temp  37.94
2013-01-01 04:00:00    EWR   temp  37.94

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?